@font-face {
    src: url(../Font/alk-katerina.ttf);
    font-family: alk-katerina;
}

body {
    background-color: #3A8331;
    text-align: center;
}

h1 {
    text-align: center;
    color: #FFA100;
    font-size: 42px;
    font-family: alk-katerina;
}

.maindiv {
    background-color: #3A8331;
    height: 550px;
    width: 65%;
    margin: 0 auto;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}