@font-face {
    src: url(../Font/alk-katerina.ttf);
    font-family: alk-katerina;
}

body {
    background-color: #967BB6;
    text-align: center;
}


h1 {
    text-align: center;
    color: #FFA100;
    font-size: 42px;
    font-family: alk-katerina;
}

p {
    font-size: 25px;
    color: black;
    margin: 15% auto 0;
}



a {
    background-color: gold;
    color: black;
    font-size: 25px;
    text-decoration: none;
    margin: 0 25px;
    padding: 0;
    justify-content: space-around;
    display: flex;
    float: right;
    text-align: center;
    border-radius: 15px;
    border-color: none;
    width: 180px;
}

a:hover {
    background-color: goldenrod;
    color: rgb(30, 30, 30);
}